body {
    font-family: 'Gotham-Medium', Arial;
    color: #666464;
}

.error-message {
    color: #e4482f;
}

.modal {
    overflow-y: auto;
}

.selectable:focus, .selectable:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.loader_in_css{
    top:29%;
    left:48%;
    position:absolute;
    z-index:1
}
