<span class="error-message" ng-message="required">Required!</span>
<span class="error-message" ng-message="minlength">Too short!</span>
<span class="error-message" ng-message="maxlength">Too long!</span>
<span class="error-message" ng-message="email">Invalid email!</span>
<span class="error-message" ng-message="number">Invalid number!</span>
<span class="error-message" ng-message="min">Too small!</span>
<span class="error-message" ng-message="max">Too big!</span>