<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Precor - Premium Home and Commercial Fitness Equipment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.ico">
    <!-- load our css last so it takes precedence -->
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div style="min-height:100%;position:relative;">
    <!--[if lt IE 9]>
    <p class="alert-danger">You are using an <strong>outdated</strong> browser which is not supported by this
        application.
        Please upgrade your browser.</p>
    <![endif]-->
    <div style="top:20%;left:40%;position:absolute;" ng-show="loader"><img src="images/initialLoader.gif"/></div>
    <header is-login-required="true"></header>
    <account-permission>
        <div ng-if="isPageLoaded">
            <div class="pad-for-footer" ng-view autoscroll="true"></div>
        </div>
    </account-permission>
    <footer></footer>
</div>
<script src="jspm_packages/system.js"></script>
<script src="jspm-config.js"></script>
<script src="bundle.js"></script>
<script>
    System.import("./bootstrap");
</script>
</body>
</html>
